%p.layout-notice チャットグループが作成されました。
.layout-notification
  .chat
    .chat-side
      .chat-user.clearfix
        %h5 seo
        .chat-user__actions
          = link_to class: "chat-user__action" do
            %i.fa.fa-pencil-square-o
          = link_to class: "chat-user__action" do
            %i.fa.fa-cog
      %ul.chat-groups
        %li.chat-group
          = link_to class: "chat-group__link" do
            %p.chat-group__name sample
            %p.chat-group__message Good bye world...
    .chat-main
      .chat-header.clearfix
        .chat-header--left
          %h2 sample
          %p.chat-header__users
            Members:
            %span.chat-header__user 名前
        .chat-header--right
          = link_to 'Edit', class: "chat-header__edit-btn"
      .chat-body
        .chat-body__messages-list
          .chat-body__message.clearfix
            %p.chat-body__message-name
              名前
              %span.chat-body__message-time 2018/00/00
            .chat-body__message-body
              テスト
              = image_tag "", class:"chat-body__message-body-image"
      .chat-footer
        .chat-footer__body
          = form_for @user do |f|
            = f.label :text
            = f.text_field :text
            = f.file_field :image, id: "upload-icon"
            = f.submit "Send"
